.App {
  text-align: center;
}

.counter {
  background-color: yellow;
  text-align: left;
  padding-left: 10px;
}

.board {
  display: flex;
  background-color: blue;
  justify-content: space-around;
  
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 1px solid black;
  
 
  transition: width 1s, height 1s;
}

.card.active {
  width: 150px;
  height: 150px;
}